<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2026 Christopher Alejandro Maldonado Chávez.
  ~ Override. Todos los derechos reservados.
  ~ Este código fuente y sus archivos relacionados son propiedad intelectual de Override.
  ~ Queda estrictamente prohibida la reproducción, distribución o modificación
  ~ total o parcial de este material sin el consentimiento previo por escrito.
  ~ Uruapan, Michoacán, México. | atomo.click
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Atomo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Atomo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>